* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-container {
  margin: auto;
  width: 80%;
}

/* Table styles */
.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

/* Header row styles */
.header-row {
  background-color: #a54ead; /* Couleur de fond différente pour la ligne d'en-tête */
  font-weight: bold;
}

/* Alternance des lignes de couleur différente */
.item-row:nth-child(even) {
  background-color: #fef3ff;
}

/* Styles pour la colonne 'Nom du Produit' */
.title {
  font-weight: bold;
}

/* Styles pour la colonne 'Link' */
.optional {
  text-align: center;
}

.optional a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #300a33;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.optional a:hover {
  background-color: #6d1875;
}
