body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: black;
  margin: 0;
}
/* Reset basic styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Page container styles */
.page-container {
  margin: 20px; /* Marge sur les côtés de la page */
}

/* Table styles */
.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

/* Header row styles */
.header-row {
  background-color: #f0f0f0; /* Couleur de fond différente pour la ligne d'en-tête */
  font-weight: bold;
}

/* Alternance des lignes de couleur différente */
.item-row:nth-child(even) {
  background-color: #f9f9f9;
}

/* Styles pour la colonne 'Nom du Produit' */
.title {
  font-weight: bold;
}

/* Styles pour la colonne 'Link' */
.optional {
  text-align: center;
}

.optional a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.optional a:hover {
  background-color: #0056b3;
}
